<!-- games.hbs -->
<h1>Games for the Virginia Chess League Database</h1>
<p>This page contains a list of games.</p>

<h2>Games Table</h2>
{{!-- Create Games Table --}}
<table id="games-table">
    {{!-- Games Table Header --}}
    <thead>
        {{!-- make first row of table the column names --}}
        <tr>
            {{#each games.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Games Table Body/Rows --}}
    <tbody>
        {{#each games}}
        <tr>
            <td>{{this.gameID}}</td>
            <td>{{this.whiteID}}</td>
            <td>{{this.whiteRating}}</td>
            <td>{{this.blackID}}</td>
            <td>{{this.blackRating}}</td>
            <td>{{this.ecoCode}}</td>
            <td>{{this.seasonID}}</td>
            <td>{{this.resultID}}</td>
            <td>{{this.gameDate}}</td>
            <td>{{this.location}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h2>Register new Game</h2>
<p>To add a new game, please enter their information below and click 'Submit'</p>
<form id="createGame-form-ajax">
    <label for="input-whiteFullName"> White Pieces: </label>
    <select name="input-whiteFullName" id="input-whiteFullName" required>
        <option value="">Select</option>
        {{#each players}}
        <option value="{{this.playerID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-blackFullName"> Black Pieces: </label>
    <select name="input-blackFullName" id="input-blackFullName" required>
        <option value="">Select</option>
        {{#each players}}
        <option value="{{this.playerID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-gameResult">Result:</label>
    <select name="input-gameResult" id="input-gameResult">
        <option value="">Select</option>
        {{#each results}}
        <option value="{{this.resultID}}">{{this.description}}</option>
        {{/each}}
    </select>

    <label for="input-gameEcoCode">ECO Code:</label>
    <input type="text" name="input-gameEcoCode" id="input-gameEcoCode" maxlength="3">
    
    <label for="input-gameDate">Date:</label>
    <input type="date" name="input-gameDate" id="input-gameDate" required>

    <label for="input-gameSeason">Season:</label>
    <select name="input-gameSeason" id="input-gameSeason" required>
        <option value="">Select</option>
        {{#each seasons}}
        <option value="{{this.seasonID}}">{{this.seasonName}}</option>
        {{/each}}
    </select>

    <label for="input-gameLocation">Location:</label>
    <input type="text" name="input-gameLocation" id="input-gameLocation">

    <input type="submit">
</form>

{{!-- the below line embeds javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add-game.js"></script>