<h1>Openings Page for Virginia Chess League Database</h1>
<p>This page contains information on chess opening moves. Each chess opening has a distinct Eco Code number and a name, which may be the same or similar to other openings. 
    Openings must be registered here before they can be used in recording a game. 
    There are over 500 game openings, so please register only the openings you need. To delete an opening, please click the Delete 
    button for that opening.
</p>

{{!-- Delete functionality --}}
{{!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>Openings Table</h2>
{{!-- Create Openings Table --}}
<table id="openings-table">
    {{!-- Openings Table Header --}}
    <thead>
        {{!-- make first row of table the column names --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Openings Table Body/Rows --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.ecoCode}}>
            <td>{{this.ecoCode}}</td>
            <td>{{this.varName}}</td>
            <td><button onclick="deleteOpening('{{this.ecoCode}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data --}}
<script src="./js/delete_opening.js"></script>

{{!-- Form to add a record to the table --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new opening, please enter its ECO Code and name and click 'Submit'</p>
<form id="createOpening-form-ajax">
    <label for="input-ecoCode">ECO Code:</label>
    <input type="text" name="input-ecoCode" id="input-ecoCode" required maxlength="3">

    <label for="input-varName">Opening Name: </label>
    <input type="text" name="input-varName" id="input-varName" required>


    <input type="submit">
</form>

{{!-- the below line embeds javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add-opening.js"></script>